<table class="table">
  <tr>
    <th>Name</th>
    <th>Provider</th>
    <th>Type</th>
  </tr>
  <% @vcs_connections.each do |conn| %>
  <tr>
    <td><%= conn.name %></td>
    <td><%= conn.provider %></td>
    <td><%= conn.github_type %></td>
  </tr>
  <% end %>
</table>

<div class="w-full max-w-xs">
  <div class="grid grid-cols-1">
    <a class="btn btn-primary btn-sm" href="<%= new_vcs_connection_path %>">Create VCS Connection</a>
  </div>
</div>
